#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
parser.dialect = GNUC
analysis.functionPointerCalls = false
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
phase.me.analysis = intro_procedural/temp_inner.properties
phase.me.stopAfterError = false
phase.me.timeOutBound = 10
cpa.constraints.introProcedual = true
cpa.callstack.analyzeSummary = true
cpa.predicate.encodeBitvectorAs = INTEGER
cpa.callstack.skipRecursion = true
checker.weaknessForCheck = DIVIDED_BY_ZERO
.FED

.RUN
basic : cfa;
