#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = false
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = inter_procedural/temp_inner.properties
phase.singleAlgorithm.stopAfterError = false
phase.singleAlgorithm.initialStatesFor = ENTRY
cpa.predicate.encodeBitvectorAs = INTEGER
checker.weaknessForCheck = DIVIDED_BY_ZERO
statistics.export = false
.FED

.RUN
basic : cfa
